# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

E4:

Some of the popular languages that Data Scientists use are:
1. Python
2. R
2. Java
1. Julia

E5:

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Tensorflow
4. scikit
5. scipy
6. seaborn

E6:

Data Science Tools

|Data Science Tools|
|------------------|
| Jupyter NBs      |
| R |
| Pandas |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5

17

In [2]:
200 / 60
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

**Objectives:**
- List popular languages for Data Science
- Learn how to use Jupyter notebooks
- Getting familiar with markdown syntax
- Convert 200 mins into hours
- Learn markdown table structure

## Author
Asmus von MÃ¼nchow